<h1>Simple Stock Tracker Dashboard</h1>
<h2>All Stocks</h2>
<table class="stock-table">
<tr>
    <th>
        Symbol
    </th>
    <th>
        Description
    </th>
    <th>
        openPrice
    </th>
    <th>
        lastPrice
    </th>
    <th>
        Net Change
    </th>
    <th>
        Percent Change
    </th>
</tr>
<% for(let i = 0; i < stocks.length; i++)  {%> 
    <tr id="row" class="<%= stocks[i].symbol %>">
        <td class="symbol">
            <a href="/stocks/<%=stocks[i]._id%>">
                <%= stocks[i].symbol %> 
            </a>
        </td>
        <td class="description">
            <%= stocks[i].description %> 
        </td >
        <td class="openPrice">
            $<%= parseFloat(stocks[i].openPrice).toFixed(2) %>
        </td>
        <td class="lastPrice">
            $<%= parseFloat(stocks[i].lastPrice).toFixed(2) %> 
        </td>
        <td class="netChange">
            <%= parseFloat(stocks[i].netChange).toFixed(2) %> 
        </td>
        <td id="row-item" class="percentChange">
            <% percentChange = ((stocks[i].netChange / stocks[i].openPrice) * 100) %>
            <%= parseFloat(percentChange).toFixed(2) %>%
        </td>
        <td class="delete">
            <form class="delete-form" action="/stocks/<%=stocks[i]._id%>?_method=DELETE" method="POST">
                    <button class="delete-btn">X</button>
            </form>
        </td>
        <td>
            <a href="/stocks/<%=stocks[i]._id%>/edit">Edit</a>
        </td>
    </tr>
<% } %>
</table>
<script src="/socket.io/socket.io.js"></script>
<script>
    var socket = io();
    socket.on('testEvent', function(stocks){
        let data = stocks.stocks
        data.forEach(stock => {
            let openPrice = document.querySelector('.' + stock.symbol + ' .openPrice')
            let lastPrice = document.querySelector('.' + stock.symbol + ' .lastPrice')
            let netChange = document.querySelector('.' + stock.symbol + ' .netChange')
            let percentChange = document.querySelector('.' + stock.symbol + ' .percentChange')
            openPrice.innerHTML = '$' + parseFloat(stock.openPrice).toFixed(2)
            lastPrice.innerHTML = '$' + parseFloat(stock.lastPrice).toFixed(2)
            netChange.innerHTML = parseFloat(stock.netChange).toFixed(2)
            let percentChangeCalc = ((stock.netChange / stock.openPrice) * 100)
            percentChange.innerHTML = parseFloat(percentChangeCalc).toFixed(2) + '%'
        });
    });
    </script>
<script>
    document.querySelectorAll('#row-item').forEach( item =>{
        let number = item.innerHTML
        number = parseInt(number.slice(0,-1))
        if(number > 0 ) {
            item.style.backgroundColor = 'rgba(100, 215, 97)'
        } else {
            item.style.backgroundColor = 'rgba(255, 0, 0)'
        }
    })
</script>