<%- include ('../partials/nav.ejs') %> 
<h1>All Stocks</h1>
<div class="new-stock-div">
    <form class="new-stock-form" action="/stocks" method="POST">
        <label for="symbol">Symbol</label>
        <input id="symbol" name="symbol" type="text" placeholder="Enter Ticker Symbol">
        <button type="submit">Submit</button>
    </form>
</div>
<div class="table-div">
    <table class="table table-sm" id="myTable">
    <tr>
        <th onclick="sortTable(0)">Symbol</th>
        <th onclick="sortTable(1)">Description</th>
        <th onclick="sortTableNum(2)">Open Price</th>
        <th onclick="sortTableNum(3)">Last Price</th>
        <th onclick="sortTableNum(4)">Net Daily Change</th>
        <th onclick="sortTablePercent(5)">Percent Daily Change</th>
    </tr>
    <% for(let i = 0; i < stocks.length; i++)  {%> 
        <tr id="row" class="<%= stocks[i].symbol %>">
            <td class="symbol">
                <a href="/stocks/<%=stocks[i]._id%>">
                    <%= stocks[i].symbol %> 
                </a>
            </td>
            <td class="description"><%=stocks[i].description%></td >
            <td class="openPrice">$<%=parseFloat(stocks[i].openPrice).toFixed(2)%></td>
            <td class="lastPrice">$<%=parseFloat(stocks[i].lastPrice).toFixed(2)%></td>
            <td class="netChange">$<%=parseFloat(stocks[i].netChange).toFixed(2)%></td>
            <td id="row-item" class="percentChange">
                <% if(stocks[i].openPrice != 0) { %>
                <% percentChange = ((stocks[i].netChange / stocks[i].openPrice) * 100) %>
                <%=parseFloat(percentChange).toFixed(2)%>%
                <% } else { %> 
                <%percentChange = 'N/A'%>
                <%=percentChange%>
                <% } %> 
            </td>
            <td class="delete">
                <form class="delete-form" action="/stocks/<%=stocks[i]._id%>?_method=DELETE" method="POST">
                        <button class="delete-btn">X</button>
                </form>
            </td>
            <td>
                <a href="/stocks/<%=stocks[i]._id%>/edit">Edit</a>
            </td>
        </tr>
    <% } %>
    </table>
</div>
<script src="/socket.io/socket.io.js"></script>
<script src="/js/watchlist_socket.js"></script>
<script src="/js/price-color.js"></script>
<script src="/js/tableSort.js"></script>