<%- include ('../partials/nav.ejs') %> 
<h1><%= stock.symbol %> Detail Page</h1>
<table class="detail-table">
    <tr>
        <td>
            Description: <%= stock.description %>
        </td>
    </tr>
    <tr>
        <td>
            bidPrice: <%= stock.bidPrice %>
        </td>
    </tr>
    <tr>
        <td>
            askPrice: <%= stock.askPrice %>
        </td>
    </tr>
    <tr>
        <td>
            lastPrice: <%= stock.lastPrice %>
        </td>
    </tr>
    <tr>
        <td>
            openPrice: <%= stock.openPrice %>
        </td>
    </tr>
    <tr>
        <td>
            highPrice: <%= stock.highPrice %>
        </td>
    </tr>
    <tr>
        <td>
            lowPrice: <%= stock.lowPrice %>
        </td>
    </tr>
    <tr>
        <td>
            netChange: <%= stock.netChange %>
        </td>
    </tr>
    <tr>
        <td>
            totalVolume: <%= stock.totalVolume %>
        </td>
    </tr>
    <tr>
        <td>
            Volatility: <%= stock.volatitrty %>    
        </td>
    </tr>
    <tr>
        <td>
            yearHigh: <%= stock.yearHigh %>  
        </td>
    </tr>
    <tr>
        <td>
            yearLow: <%= stock.yearLow %>    
        </td>
    </tr>
    <tr>
        <td>
            peRatio: <%= stock.peRatio %>  
        </td>
    </tr>
    <tr>
        <td>
            divAmount: <%= stock.divAmount %>   
        </td>
    </tr>
    <tr>
        <td>
            divYield: <%= stock.divYield %>
        </td>
    </tr>
    <tr>
        <td>
            divDate: <%= stock.divDate %>
        </td>
    </tr>
    <tr>
        <td>
            divAmount: <%= stock.divAmount %>
        </td>
    </tr>
    <tr>
        <td>
            RegularmarketLastPrice: <%= stock.regularMarketLastPrice %>
        </td>
    </tr>
    <tr>
        <td>
            RegularMarketNetChange: <%= stock.regularMarketNetChange %>
        </td>
    </tr>
    <form action="/stocks/<%=stock._id%>?_method=DELETE" method="POST">
        <button>Delete</button>
    </form>
</table>

