<%- include ('../partials/nav.ejs') %> 
<h1>Edit <%= stock.symbol %> for <%=watchlist.name%> </h1>
<form action="/watchlists/<%= watchlist._id %>/stocks/<%=stock._id%>/edit?_method=PUT" method="POST">
    <label for="title">Enter New Symbol</label>
    <input type="text" name="symbol" id="symbol" value="<%=stock.symbol%>">
    <input type="submit" value="Submit">
</form>