<%- include ('../partials/nav.ejs') %> 
<div class="watchlist-edit">
    <h1><%= watchlist.name%></h1>
    <a href="/watchlists/<%=watchlist._id %>/edit">Edit Watchlist Name</a>
</div>
    <form action="/watchlists/stocks/<%= watchlist._id%>" method="POST">
        <label for="symbol">Add New Stock</label>
        <input type="text" name="symbol" id="symbol" placeholder="Enter Ticker Symbol">
        <button>Submit</button>
        <br>
    </form>
    <form action="/watchlists/<%=watchlist._id%>?_method=DELETE" method="POST">
        <label for="delete-stock">Delete This Watchlist?</label>
        <button name="delete-stock">Delete</button>
    </form>
<div class="table-div">
<table class="table" id="myTable">
    <tr>
        <th onclick="sortTable(0)">Symbol</th>
        <th onclick="sortTable(1)">Description</th>
        <th onclick="sortTableNum(2)">Open Price</th>
        <th onclick="sortTableNum(3)">Last Price</th>
        <th onclick="sortTableNum(4)">Net Change</th>
        <th onclick="sortTablePercent(5)">Percent Change</th>
    </tr>
    <% watchlist.stocks.forEach(stock => { %>
        <tr class="<%=stock.symbol%>">
            <td class="symbol"><a href="/stocks/<%=stock._id%>"><%=stock.symbol%></a></td>
            <td class="description"><%=stock.description%></td>
            <td class="openPrice">$<%=parseFloat(stock.openPrice).toFixed(2)%></td>
            <td class="lastPrice">$<%=parseFloat(stock.lastPrice).toFixed(2)%></td>
            <td class="netChange">$<%=parseFloat(stock.netChange).toFixed(2)%></td>
            <td id="row-item" class="percentChange">
                    <% let percentChange = ((stock.netChange / stock.openPrice) * 100) %>
                    <%=parseFloat(percentChange).toFixed(2)%>%
            </td>
            <td class="delete">
                <form action="/watchlists/<%=watchlist._id%>/stocks/<%=stock._id%>?_method=DELETE" method="POST">
                    <button>Delete</button>
                </form>
            </td>
            <td>
                <a href="/watchlists/<%= watchlist._id %>/stocks/<%=stock._id%>/edit">Edit</a>
            </td>
            
        </tr>
    <% }); %> 
    </table>
</div>
<script src="/js/price-color.js"></script>
<script src="/socket.io/socket.io.js"></script>
<script src="/js/watchlist_socket.js"></script>
<script src="/js/tableSort.js"></script>