<%- include ('../partials/nav.ejs') %> 
<h1><%= watchlist.name%></h1>
    <form action="/watchlists/<%= watchlist._id%>/stocks" method="POST">
        <label for="symbol">Add New Stock</label>
        <input type="text" name="symbol" id="symbol" placeholder="Enter Ticker Symbol">
        <button>Submit</button>
    </form>
<table class="table">
    <tr>
        <th>
            Symbol
        </th>
        <th>
            Description
        </th>
        <th>
            openPrice
        </th>
        <th>
            lastPrice
        </th>
        <th>
            Net Change
        </th>
        <th>
            Percent Change
        </th>
    </tr>
    <% watchlist.stocks.forEach(stock => { %>
        <tr class="<%= stock.symbol %>">
            <td class="symbol"><%= stock.symbol %> </td>
            <td class="description"><%= stock.description %> </td>
            <td class="openPrice">$<%= parseFloat(stock.openPrice).toFixed(2) %> </td>
            <td class="lastPrice">$<%= parseFloat(stock.lastPrice).toFixed(2) %> </td>
            <td class="netChange"><%= parseFloat(stock.netChange).toFixed(2) %> </td>
            <td id="row-item" class="percentChange">
                    <% let percentChange = ((stock.netChange / stock.openPrice) * 100) %>
                    <%= parseFloat(percentChange).toFixed(2) %>%
            </td>
            <td class="delete">
                <form action="/watchlists/<%=watchlist._id%>/stocks/<%=stock._id%>?_method=DELETE" method="POST">
                    <button>Delete</button>
                </form>
            </td>
            <td>
                <a href="/watchlists/<%= watchlist._id %>/stocks/<%=stock._id%>/edit">Edit</a>
            </td>
            
        </tr>
    <% }); %> 
    </table>
    <script>
        document.querySelectorAll('#row-item').forEach( item =>{
            let number = item.innerHTML
            number = parseInt(number.slice(0,-1))
            if(number > 0 ) {
                item.style.backgroundColor = 'rgba(100, 215, 97)'
            } else {
                item.style.backgroundColor = 'rgba(255, 0, 0)'
            }
        })
    </script>