<h1>Stock Dashboard</h1>
<table>
    <tr>
        <th>
            Symbol
        </th>
        <th>
            Description
        </th>
        <th>
            openPrice
        </th>
        <th>
            lastPrice
        </th>
        <th>
            Net Change
        </th>
        <th>
            Percent Change
        </th>
    </tr>
    <% for(let i = 0; i < stocks.length; i++)  {%> 
        <tr>
            <td>
                <a href="/stocks/<%=stocks[i]._id%>"> 
                    <%= stocks[i].symbol %> 
                </a>
            </td>
            <td>
                <%= stocks[i].description %> 
            </td>
            <td>
                $<%= stocks[i].openPrice %>
            </td>
            <td>
                $<%= stocks[i].lastPrice %> 
            </td>
            <td>
                <%= stocks[i].netChange %> 
            </td>
            <td>
                <% percentChange = ((stocks[i].netChange / stocks[i].openPrice) * 100) %>
                <%= parseFloat(percentChange).toFixed(2) %>%
            </td>
            <td>
                <form action="/stocks/<%=stocks[i]._id%>?_method=DELETE" method="POST">
                    <button>Delete</button>
                </form>
            </td>
            <td>
                <a href="/stocks/<%=stocks[i]._id%>/edit">Edit</a>
            </td>
        </tr>
    <% } %> 
    </table>
